<div>
  <br><br>
  <h1 class="text-center">Contacto - Sistema de Inventario de Abarrotes (SIA)</h1>
  <br><br>
  <p class="text-justify">
    Gracias por tu interés en el Sistema de Inventario de Abarrotes (SIA). Estamos aquí para responder a tus preguntas y brindarte la información que necesitas para optimizar la gestión de inventario en tu abarrotería.
  </p>
  <br><br>
  <h2>Detalles de Contacto</h2>
  <p>
    <strong>Dirección:</strong>
    456 Avenida Principal,
    Barrio Residencial del Sol,
    Ciudad Esperanza,
    Código Postal: 54321,
    País Soñado
  </p>
  <p>
    <strong>Teléfono:</strong> (55) 24761564
  </p>
  <p>
    <strong>Correo Electrónico:</strong> admin@sia.com
  </p>

  <br><br>
  <h2>Formulario de Contacto</h2>
  <form class="w-50">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" class="form-control" id="nombre" placeholder="Tu Nombre">
    </div>
    <div class="form-group">
      <label for="correo">Correo Electrónico:</label>
      <input type="email" class="form-control" id="correo" placeholder="tucorreo@example.com">
    </div>
    <div class="form-group">
      <label for="mensaje">Mensaje:</label>
      <textarea class="form-control" id="mensaje" rows="4" placeholder="Escribe tu mensaje aquí"></textarea>
    </div>
    <br><br>
    <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
  </form>
</div>